* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #999;
    padding: 100px;
}

.button {
    display: inline-block;
    padding: 16px;
    border: 2px solid blue;
    background-color: lightblue;

}
